{% extends './base.html'%}

{% block content %}
    {{ block.super }}
    <p>{{ editor.article_image.url   }}</p>
    <p>{{ editor.id   }}</p>
    <img src="{{ editor.article_image.url }}" alt="image">

    {% for news_item in news %}
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h2 class="text-center">{{ news_item.title }}</h2>
                <p>{{ news_item.post }}</p>
            </div>
        </div>
    {% empty %}
        <h2>There are no news</h2>
    {% endfor %}
{% endblock %}